@model IEnumerable<Kim_Angela_Eonjeong_HW5.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType)
            </td>
            @if (User.Identity.IsAuthenticated)
                 {
                    if (User.IsInRole("Admin"))
                       {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> 
                        </td>
                        }
                    else
                        {
                           <td>
                           <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> 
                           </td>    
                         }
                }
              else
                    {
                       <td>
                       <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> 
                       </td>    
                     }
        </tr> }
    </tbody>
</table>
